.button.button--primary,
.button.button--primary:hover {
  background-color: rgba(255,102,0,.9);
  border-color: rgba(255,102,0,.9);
  color: #fff;
  margin: 20px 0 10px;
}

.button.button--primary:hover {
  opacity: .8;
}